/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backupsubYear(1)
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/views/Layout/app2.blade.php
resources/views/Layout/app.blade.php
resources/views/auth/login.blade.php
